
.key46--form {
    display: block;
    padding: 20px;
    border: 1px solid #c9b2ba;
    border-radius: 3px;
    max-width: 600px;
    margin: 20px auto 0;
  }

  .key46--submit-button{
      float: left;
      margin-left: 10px;
  }

  .nav {
      margin: 20px;
    display: flex;
    justify-content: space-between;
font-size: 16px;
    &--logo{
        & > a {
        text-decoration: none;
color: black;
& > img {
    width: 40px;

}
}
      }
    &--ul{
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center      }
    &--li{
list-style: none;
    & > a {
        color: darkblue;
        text-decoration: none
    }
}
  }